.chat {
  grid-area: chat;
  background-color: #d4dbf5;
  max-width: 576px;
  max-height: 850px;
  width: 100%;
  height: 100%;
  justify-self: start;
  margin-left: 16px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-around;
}

.logout-button {
  flex-grow: 1;
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75);
  border-radius: 5px;
}

.post-content {
  padding: 8px;
  width: 200px;
  flex-grow: 1;
}

.post-input {
  display: flex;
  flex-direction: row;
  height: 5%;
  margin: 8px;
}

.post-input button {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  padding: 9px;
  font-weight: bold;
  width: 100px;
}

.post-input input {
  margin-right: 0;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid lightgrey;
  width: 80%;
}

.post-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
}

.post {
  background-color: #f2f2f2;
  box-shadow: 2px 2px grey;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.flex3 {
  flex-grow: 3;
}

.message {
  word-break: break-word;
}
