* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transition: all 1s ease;
}

.bold {
  font-weight: bold;
  margin: 0px 0px;
}

.text {
  margin: 4px 0px;
}

#login-page {
  display: block;
  background-color: pink;
}

#main-page {
  display: none;
}
