* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: pink;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transition: all 1s ease;
}

.bold {
  font-weight: bold;
  margin: 0px 0px;
}

.text {
  margin: 4px 0px;
}

#login-page {
  display: block;
}

#main-page {
  display: none;
}

h1 {
  display: flex;
  justify-content: center;
}

.login-screen {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  justify-content: center;
  align-content: center;
}

.login-input {
  display: flex;
  margin: auto auto 30px auto;
  padding: 8px;
  border-radius: 4px;
  width: 400px;
}

.login-button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h2 {
  padding: 8px;
  margin: 8px 0px;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.background-formatter {
  width: 74.5vw;
  height: 90vh;
  background-image: url('../assets/oasiss.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.chat {
  background-color: #d4dbf5;
  width: 24vw;
  height: 90vh;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.logout-button {
  flex-grow: 1;
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
}

.post-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: scroll;
}

.post {
  background-color: #f2f2f2;
  box-shadow: 2px 2px grey;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.flex3 {
  flex-grow: 3;
}

.post-content {
  padding: 8px;
  width: 200px;
  flex-grow: 1;
}

.post-input {
  display: flex;
  flex-direction: row;
  height: 5%;
  margin: 8px;
}

.post-input button {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  padding: 9px;
  width: 100px;
}

.post-input input {
  margin-right: 0;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid lightgrey;
  width: 80%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75);
  border-radius: 5px;
}
