* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: pink;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transition: all 1s ease;
}

.bold {
  font-weight: bold;
  margin: 0px 0px;
}

.text {
  margin: 4px 0px;
}

#main-page {
  display: none;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  padding: 8px;
  margin: 8px 0px;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.background-formatter {
  width: 74.5vw;
  height: 90vh;
  background-image: url("../assets/oasiss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-around;
}

.flex3 {
  flex-grow: 3;
}