#character-page {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 40px;
}

.character-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.character-selection-box {
  width: 300px;
  height: 300px;
  transition: all 0.333333s ease-out;
}

.character-selection-box:hover {
  background-color: white;
  width: 320px;
  height: 320px;
}

.gray-box-shadow:hover {
  box-shadow: 10px 10px #aaa;
}

.red-box-shadow:hover {
  box-shadow: 10px 10px #ff1700;
}

.green-box-shadow:hover {
  box-shadow: 10px 10px #00b933;
}

.blue-box-shadow:hover {
  box-shadow: 10px 10px #008eff;
}
